<div class="row">
    <div class="col-xs-12 well well-lg">
        <h3>Баланс</h3>
        <table class="table">
            <tr>
                <td>Номер карты</td>
                <td>{{ card_number }}</td>
            </tr>
            <tr>
                <td>Дата</td>
                <td>{{ date_time }}</td>
            </tr>
            <tr>
                <td>Баланс</td>
                <td>{{ balance }}</td>
            </tr>
        </table>
        <p></p>
        <a href="#/actions" class="btn btn-primary">Назад</a>
        <a href="#/logout" class="btn btn-primary">Выход</a>
    </div>
</div>